<div class="d-flex flex-column flex-shrink-0 bg-white border-end" style="height: 100%; width: 4.5rem;">
  <a href="#" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
    data-bs-placement="right" data-bs-original-title="Icon-only">
    <svg class="bi" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="visually-hidden">Icon-only</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link py-3" aria-current="page" title="" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Home">
        <i class="fas fa-th-large"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Dashboard">
        <i class="fas fa-user"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link active py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Orders">
        <i class="fas fa-id-card-alt"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Products">
        <i class="fas fa-shapes"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Customers">
        <i class="fas fa-box"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Customers">
        <i class="fas fa-sliders-h"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Customers">
        <i class="fas fa-envelope-open-text"></i>
      </a>
    </li>
  </ul>
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none mb-4"
      id="dropdownUser3"
      aria-expanded="false"
    >
      <i class="fas fa-door-open"></i>
    </a>
  </div>
</div>