<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-container border-bottom" style="width: 90%;">
  <div class="row w-100">
    <div class="col-12 col-md-8 col-lg-9 col-xl-9">
      <form>
        <div class="input-group border-0">
          <input
            type="text"
            class="form-control border-0 ps-3"
            placeholder="Search your experienced doctor"
            aria-describedby="basic-addon1"
          />
        </div>
      </form>
    </div>
    <div class="d-none d-md-block col-12 col-md-4 col-lg-3 col-xl-3 text-center">
      <a class="position-relative" href="#">
        <i class="fa fa-bell notification-bubble"></i>
        <span class="notification-dot"></span>
      </a>
      <a class="ms-2" href="#">
        <i class="fa fa-user notification-bubble"></i>
      </a>
      <div class="dropdown d-inline">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Age Clinic
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>