<h4>Personal Cards</h4>
<div class="container-fluid mt-4">
  <div class="row">
    <div [ngClass]="selectedTransaction ? 'col-lg-12 col-xl-8' : 'col-12'">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div
              *ngFor="let card of cards; let i = index"
              class="col-md-12 col-lg-5 col-xl-4 mb-4"
            >
              <ng-container *ngIf="!selectedTransaction || i === 0">
                <app-card [active]="i === 0" [info]="card"></app-card>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4 pt-4">
          <h4 style="margin-bottom: 2.5rem;">Last Transactions</h4>
          <ng-container *ngFor="let tr of transactions">
            <app-last-transactions [transaction]="tr" (transactionSelected)="showTransactionDetails($event)"></app-last-transactions>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="selectedTransaction" class="col-lg-12 col-xl-4 border-start animate__animated animate__slideInRight animate__faster">
      <app-payment-detail
        [transaction]="selectedTransaction"
        (closePaymentDetail)="selectedTransaction = null"
      >
      </app-payment-detail>
    </div>
  </div>
</div>